PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/mikrolink
JWT_SECRET=changeme_super_secret
JWT_REFRESH_SECRET=changeme_refresh_secret
EMAIL_USER=your@gmail.com
EMAIL_PASS=app_password_here
APP_URL=http://localhost:5000
CORS_ORIGIN=http://localhost:3000

